@import "photoswipe/photoswipe.css";
@import "photoswipe/default-skin.css";

@tailwind base;

@tailwind components;

@tailwind utilities;

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #000000;
    font-size: 1rem;
    line-height: 1.5;
    color: white;
    padding: 8px;
    z-index: 100;
}
.skip-link:focus {
    top: 0;
}

.uniform__potty,
.honeypot-field {
    position: absolute;
    left: -9999px;
}
[hidden] {
  display: none;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.card-link::after {
    position: absolute;
    top:0;
    right:0;
    bottom: 0;
    left: 0;
    content: "";
    cursor: pointer;
}

.fill-current {
    fill: currentColor;
}

::selection {
    @apply bg-red-200 ;
}
::-moz-selection {
    @apply bg-red-200 ;
}


@screen lg {
    .gutter {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

a {
    @apply text-gray-300 ;
}
a:hover {
    @apply text-gray-100 ;
}


.leading-12 {
    line-height: 3rem;
}

.heading-1 {
    @apply font-titles font-normal text-2xl leading-tight ;
}
@screen sm {
    .heading-1 {
        @apply font-thin text-4xl ;
    }
}
@screen lg {
    .heading-1 {
        @apply text-5xl ;
    }
}


.line {
    @apply text-white relative ;
}
.line::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    transition: width 0.3s;
    transition-timing-function: ease;
    @apply bg-white ;
}
.line:hover::after {
    width: 100%;
}



.generated {
    @apply text-base leading-normal ;
    & p {
        @apply mb-4;
    }
    & p:last-child {
        @apply mb-0;
    }
    & a {
        @apply text-white relative ;
    }
    & a::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        transition: width 0.3s;
        transition-timing-function: ease;
        @apply bg-white ;
    }
    & a:hover::after {
        width: 100%;
    }
    & h3 {
        @apply font-black mt-5 mb-3 ;
    }
    & ul {
        list-style: disc;
        padding-left: 24px;

    }
}





.tag::after {
    content: ', ';
    padding-right: 0.25rem;
}
.tag:last-child::after {
    content: '';
    padding-right: 0;
}



.main-menu {
    @apply hidden ;
}
.main-menu.show {
    @apply flex ;
}
@screen lg {
    .main-menu {
        @apply flex ;
    }
}


.grayborder {
    @apply border-gray-500 ;
}

.menueffect {
    transition: background-color 2s ease-out,
    color .5s ease-out;
}
.menutext {
    @apply uppercase tracking-wider text-sm font-titles ;
}

.menucolors {
    @apply bg-gray-700 menueffect text-gray-300 ;
    &.active {
        @apply bg-gray-500 text-gray-100  ;
    }
    &:hover,
    &.active:hover {
        @apply bg-orange-500 text-gray-900  ;
    }

}
.slogan {
    @apply text-gray-300 text-xl ;
    padding-top: 60%;
    padding-left: 10%;
    padding-right: 10%;
    @screen md {
        @apply text-2xl ;
        padding-top: 15%;
        padding-left: 20%;
        padding-right: 20%;
    }
    @screen lg {
        padding-top: 25%;
    }
    & span {
        @screen md {
            display: inline;
            box-decoration-break: clone;
            box-shadow: 10px 0 0 rgba(50,50,50,.7), -10px 0 0 rgba(50,50,50,.7);
            background-color: rgba(50,50,50,.7);
        }
    }
}
.tablecell {
    vertical-align: top;
    @apply leading-tight py-1 ;
}
